---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-night text-seasalt p-1">
		<Header />
		<main>
			<article>
				<div class="max-w-3xl mx-auto py-10">
					<div class="title text-center leading-1 mb-10">
						<div class="date text-seasalt/50 mb-3">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="mb-7 md:mb-10 px-1.5 text-4xl md:text-6xl text-seasalt font-serif">{title}</h1>
						<hr />
					</div>
					<div class="text-seasalt prose prose-sm md:prose-lg mx-auto max-md:px-5	">
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
